body    {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: rgb(30, 64, 84);
    background: radial-gradient(circle, rgba(2,55,87,1) 0%, rgba(116,251,252,1) 100%);
}

.card-body {
    width: auto;
    height: auto;
    display: flex;
}

.board {
  padding: 20px 20px 20px 20px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 50px;
}
.cell {
    width: 100px;
    height: 100px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border: 3px solid white;
    transition: transform 0.2s;
    cursor: pointer;
    background-size: cover;
    background-position: center;
}

.cell.x-win {
    border-color: lightblue;
    box-shadow: 0 0 10px 5px lightblue; /* Glowing effect */
    transform: scale(1.1); /* Slight zoom effect */
}

.cell.o-win {
    border-color: red;
    box-shadow: 0 0 10px 5px red; /* Glowing effect */
    transform: scale(1.1); /* Slight zoom effect */
}


.cell:hover {
    border-color: rgb(30, 64, 84);
    box-shadow: 0 0 10px 5px rgb(30, 64, 84); /* Glowing effect */
    transform: scale(1.1); /* Slight zoom effect */
}

